body {
  background: black;
  color: white;
  font-family: helvetica;
  text-align: center;
  margin: 0;
}

#page-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-container {
  display: flex;
  justify-content: center;
}

a {
  color: white;
  text-decoration: none;
  transition: 30ms;
}

a:hover {
  color: darkslateblue;
}

a:active {
  color: red;
}

.link {
  padding: 10px;
  margin: 10px;
  background: dodgerblue;
  border-radius: 10px;
}

#wooLink {
  text-decoration: underline;
}